.App {
  text-align: center;
  background-color: #1b1b32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.App-logo {
  width: 50px;
}

h1 {
  color: azure;
}